
.mar{
  margin-top: 40px;
  font-size:25px ;
  background-color: #CDE8E5;
}
.title{
  font-weight: bold ;
  font-size: larger;
  font-size: 30px;
  background-color: #CDE8E5;
}
.nav {
  margin-top: 20px;
  background-color:#3ABEF9;
  padding: 10px;
}
.faculty-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #CDE8E5;
}
.faculty-card {
  background-color: #FFFAE6;
  border: 1px solid #0f0a0a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.faculty-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.foot{
  color: #121481;
  font-style: italic;
  background-color: #CDE8E5;
  font-size: 20px;
}
.rowclr1{
  background-color: #1ea5c7;
}
.rowclr2{
  background-color: #20ca7d;
}
